<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>简单的ffmpeg播放器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42427F851DD6A3CE00E2287C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42427F9E1DD6A3CE00E2287C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42427FA91DD6A3CE00E2287C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
